<template>
  <div class="app">
    <TheNavigation/>
    <router-view />
  </div>
</template>
<script>
import TheNavigation from "@/components/TheNavigation"
export default {
  name: "App",
  components:{
    TheNavigation
  },
};
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.app{
  min-height: 100vh;
  position: relative;
  background: #f1f1f1;
}
.container{
  padding: 0 20px;
  max-width: 1140px;
  margin: 0 auto;
}
</style>
