<template>
  <div class="products">
    <HelloWorld msg="Buy our Products"/>
    <AllProductsItem/>
  </div>
</template>

<script>
// @ is an alias to /src
import AllProductsItem from '@/components/AllProductsItem.vue'

export default {
  name: 'StoreView',
  components: {
    AllProductsItem
  }
}
</script>
