<template>
  <div class="home">
    <div class="se-logo">
      <img alt="logo" src="../assets/logo.png">
    </div>
    
    <TheHero msg="Spectrum Emission, music for the soul"/>
  </div>
</template>

<script>
// @ is an alias to /src
import TheHero from '@/components/TheHero.vue'

export default {
  name: 'TheHero',
  components: {
    TheHero
  }
}
</script>
<style lang="scss" scoped>
  img{
    height: 200px;
    width: 200px;
  }
  .se-logo{
    width: 100%;
    background: #343233;
  }
</style>
