<template>
 <TheHero msg="Spectrum Emission, music for the soul"/>
  <div class="store">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Buy our Products"/>
    <h1>This is an store page</h1>
    <AllProducts/>

  </div>
</template>
<script>
// @ is an alias to /src
import TheHero from '@/components/TheHero.vue'

export default {
  name: 'TheHero',
  components: {
    TheHero
  }
}
</script>
<style scoped>
  img{
    height: 200px;
    width: 200px;
  }
</style>
