<template>
  <div class="hero">
    <img src="../assets/hero1.svg" alt="hero image">
    <h1 class="se-text">{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'TheHero',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
img{
    height: 600px;
    width: 600px;
}
.hero{
    background-color: #2c2a2b;
}
.se-text{
    color: #ebac00;
}
</style>
