<template>
  <SignupForm />
    <ModalGlobal
    v-show="isModalVisible"
    @close="closeModal"
  >
    <template v-slot:header>
      This is a new modal header.
    </template>

    <template v-slot:body>
      This is a new modal body.
    </template>

    <template v-slot:footer>
      This is a new modal footer.
    </template>
  </ModalGlobal>
</template>

<script>
// @ is an alias to /src
import SignupForm from '@/components/SignupForm.vue'
import ModalGlobal from '@/components/ModalGlobal.vue'


export default {
  name: 'HomeView',
  components: {
    SignupForm, ModalGlobal
  }
}
</script>
