<template>
  <div id="alertbox">
    <button v-on:click="successAlert">Sign up</button>
  </div>
</template>

<script>
export default {
  name: 'HomeView',
  // define methods under the `methods` object
  methods: {
    successAlert: function () {
      // `this` inside methods point to the Vue instance
      alert('You are Signed Up Successfully!')
      // `event` is the native DOM event
    //   alert(event.target.tagName)
    }
  }
}

</script>

<style>

</style>