<template>
  <div>
    <header>
      <button v-on:click="navigateTo('products')">View Products</button>
      {{cart.length}} in cart
      <button v-on:click="navigateTo('cart')">View Cart</button>
    </header>

    <div v-if="page === 'cart'">
      <TheCart v-on:removeItemFromCart="removeItemFromCart" :cart="cart" />
    </div>

    <div v-if="page === 'products'">
      <TheProducts v-on:addItemToCart="addItemToCart" />
    </div>
  </div>
      <!-- <li>
          <router-link class="link" :to="{ path: '/ShopBlock' }">Shop</router-link>
        </li>
        <li>
          <router-link class="link" :to="{ path: '/ShoppingCart' }">Cart</router-link>
        </li> -->
</template>

<script>
import TheProducts from "./components/TheProducts.vue";
import TheCart from "./components/TheCart.vue";

export default {
  name: "App",
  data: () => {
    return {
      page: "products",
      cart: []
    };
  },
  methods: {
    addItemToCart(product) {
      this.cart.push(product);
    },
    removeItemFromCart(product) {
      this.cart.splice(this.cart.indexOf(product), 1);
    },
    navigateTo(page) {
      this.page = page;
    }
  },
  components: { TheProducts, TheCart }
};
</script>

<style>
body {
  margin: 0;
}
.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.products button {
  padding: 10px;
  background-color: black;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
</style>

<style scoped>
header {
  height: 60px;
  box-shadow: 2px 2px 5px blue;
  background-color: pink;
  text-align: right;
  font-size: 30px;
  padding-top: 20px;
}
header button {
  padding: 10px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: green;
}
</style>