<template>
  <div class="home">
    <section class="hero">
      <div class="hero-text container">
        <h4>Vue Responsive Nav Menu</h4>
        <hr/>
        <h2>
          With Vue <br />
          Animations
        </h2>
      </div>
    </section>
    <section>
      <p>lorem ipsum</p>
      <p>lorem ipsum</p>
    </section> 
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'HomeView',
  components: {},
}
</script>
<style lang="scss" scoped>
  .hero{
    background: rgb(29, 16, 16);
    position: relative;
    height: 100vh;
    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    .hero-text{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: black;
      h4{
        text-transform: uppercase;
        font-size: 22px;
        padding-bottom: 4px;
      }
      h2{
        font-size: 50px;
        @media (min-width: 550){
          font-size: 80px;
        }
      }
      hr:nth-child(2){
        max-width: 365px;
        margin-bottom: 16px;
      }
      hr:nth-child(4) {
      height: 6px;
      background-color: #fff;
      border: none;
      max-width: 85px;
      margin-top: 16px;
      }
    }
  }
</style>