<template>
<SuccessAlertBox />
<div id="app">
    <button
      type="button"
      class="btn"
      @click="showModal"
    >
      Open Modal!
    </button>

    <ModalGlobal
      v-show="isModalVisible"
      @close="closeModal"
    />
  </div>
  <SignupForm />
</template>

<script>
import SignupForm from './components/SignupForm'
import ModalGlobal from './components/ModalGlobal.vue'
import SuccessAlertBox from '@/components/SuccessAlertBox.vue'

  export default {
    name: 'App',
    components: {
      ModalGlobal, SignupForm, SuccessAlertBox
    },
    data() {
      return {
        isModalVisible: false,
      };
    },
    methods: {
      showModal() {
        this.isModalVisible = true;
      },
      closeModal() {
        this.isModalVisible = false;
      }
    }
  };
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
body {
  margin: 0;
  background: #eee;
}
</style>
